
html {
	background: rgba(0, 0, 0, .75);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#555555)); }

body {
	font-size: 62.5%;
	line-height: 1.6;
	font-family: 'Helvetica Neue', Helvetica, arial, sans-serif; }

header {
	position: relative;
	z-index: 10;
	background: #111111;
	border-top: 80px solid #222222;
	height: 40px;
	color: #FFFFFF;
	border-radius: 0 0 30px 30px; }

header hgroup {
	position: relative;
	top: -85px;
	height: 85px;
	width: 500px;
	margin: 0 auto;
	padding: 20px 0; }

header hgroup h1 {
	text-indent: -9999px;
	position: relative;
	z-index: 10;
	width: 500px;
	height: 135px;
	background: url(../i/logo.png) no-repeat; }

header hgroup h2 {
	margin: -30px 0 0;
	font-size: 2.2em;
	position: relative;
	width: 580px;
	z-index: 5;
	left: -20px;
	display: block;
	color: rgba(100%, 100%, 100%, .5);
	background: #222222;
	padding: 5px 20px 10px;
	font-weight: 300;
	line-height: 1.4;
	border-radius: 0 0 0 10px; }

header, article {
	display: block;
	width: 760px;
	margin: 0 auto; }

header, section, header hgroup h2 {
	-webkit-box-shadow: 0 10px 5px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 10px 5px rgba(0, 0, 0, .25);
	box-shadow: 0 10px 5px rgba(0, 0, 0, .25); }

header, section, header hgroup h2 {
	-webkit-box-shadow: 0 5px 2px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 5px 2px rgba(0, 0, 0, .25);
	box-shadow: 0 5px 2px rgba(0, 0, 0, .25); }
	
section {
	position: relative;
	margin: 0 10px;
	background: rgba(100%, 100%, 100%, .98);
	border-top: 20px solid #FFFFFF;
	padding: 10px 100px 30px;
	border-bottom: 1px solid rgba(0, 0, 0, .05); }
	
article {
	width: 720px;
	margin: 0 auto;
	color: rgba(0, 0, 0, .75);
	text-shadow: #FFFFFF 0 1px 0; }
	
h2 {
	font-size: 2.4em;
	font-weight: 900;
	margin: 20px 0 0; }

p {
	font-weight: 200;
	font-size: 1.8em;
	margin: 0 0 20px; }
	
abbr {
	border-bottom: 1px dotted rgba(0, 0, 0, .25); }

a {
	text-decoration: none;
	color: #FF7700; }

a:hover {
	color: #FF9900;
	background: #FFFFFF; }

.hide {
	display: none; }

strong {
	font-weight: bold; }
	
strong span {
	border: 2px solid #CCCCCC;
	border-radius: 20px;
	padding: 3px 5px;
	text-transform: uppercase;
	font-size: 75%; }

#lead p {
	padding-top: 50px;
	font-size: 2.4em; }
	
#video {
	z-index: 5;
	padding: 0;
	margin: 0;
	border-width: 0;
	color: #FFFFFF;
	text-shadow: #000000 0 2px 0; }

#video div {
	position: relative;
	height: 431px; }
		
#countdown {
	z-index: 5;
	padding: 30px 110px 30px; }

#timer {
	line-height: 1.2;
	font-size: 500%;
	padding-top: 30px; }

#embed {
	z-index: 1;
	margin: -491px 0 0;
	opacity: 1;
	background: url(../i/demo.jpg) no-repeat; }



/* jQuery Countdown styles 1.5.9. */
.hasCountdown { }

.countdown_rtl { }

.countdown_holding span { }

.countdown_row {
	clear: both;
	padding: 0 2px;
	text-align: center; }
	
.countdown_show1 .countdown_section {
	width: 98%; }
	
.countdown_show2 .countdown_section {
	width: 48%; }
	
.countdown_show3 .countdown_section {
	width: 32.5%; }
	
.countdown_show4 .countdown_section {
	width: 24.5%; }
	
.countdown_show5 .countdown_section {
	width: 19.5%; }
	
.countdown_show6 .countdown_section {
	width: 16.25%; }
	
.countdown_show7 .countdown_section {
	width: 14%; }
	
.countdown_section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center; }
	
.countdown_amount {
	font-size: 250%;
	padding: 10px 70px 70px;
	border-radius: 200px;
	background: rgba(0, 0, 0, .75); }
	
.countdown_descr {
	display: block;
	width: 100%; }
